@model Health_Care_V1._2.Models.Employee

@{
    Layout = "~/Views/Shared/_AdminDashboardLayout.cshtml";
}

<h1 class="view-header">Add New Employee</h1>
<h6>Clinic Name: @ViewBag.ClinicName</h6>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AccountId" class="control-label">Employees Names</label>
                <select asp-for="AccountId" class ="form-control" asp-items="ViewBag.AccountId1" required></select>
            </div>
            <div class="form-group">
                <label asp-for="Salary" class="control-label"></label>
                <input asp-for="Salary" class="form-control" required />
                <span asp-validation-for="Salary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" asp-route-clinicId="@ViewBag.ClinicId" asp-route-clinicName="@ViewBag.ClinicName" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-clinicId="@ViewBag.ClinicId" asp-route-clinicName="@ViewBag.ClinicName">Back to List</a>
</div>

